﻿@model Test_Final_MVC.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pseudo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
