﻿@model Test_Final_MVC.Models.TypeActivity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TypeActivity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PseudoCreator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PseudoCreator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTypeActivity }) |
    @Html.ActionLink("Back to List", "Index")
</p>
