﻿@model IEnumerable<Test_Final_MVC.Models.TypeActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PseudoCreator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PseudoCreator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDTypeActivity }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDTypeActivity }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDTypeActivity })
        </td>
    </tr>
}

</table>
