﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FunAppointement</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Retour à l'acceuil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Utilisateurs", "Index", "Users")</li>
                    <li>@Html.ActionLink("Activités", "Index", "Activities")</li>
                    <li>@Html.ActionLink("Calendrier", "Index", "Calendar")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel='stylesheet' href='~/Content/fullcalendar.css' />
    <link href='~/Content/scheduler.css' rel='stylesheet' />
    <script src='~/Scripts/lib/jquery.min.js'></script>
    <script src='~/Scripts/lib/moment.min.js'></script>
    <script src='~/Scripts/fullcalendar.js'></script>
    <script src='~/Scripts/lib/jquery-ui.custom-datepicker.js'></script>
    <script src='~/Scripts/locale-all.js'></script>
    <script src='~/Scripts/scheduler.js'></script>
</body>
</html>

<script>
    $(function () {
        $('#calendar').fullCalendar({
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            defaultView: 'agendaWeek',
            locale:'fr',
            aspectRatio: 2,
            slotDuration: '04:00:00',
            minTime: '08:00:00',
            maxTime: '22:00:00',
            agendaEventMinHeight: '50',
            windowResize: function (defaultView) {
                alert('The calendar has adjusted to a window resize');
            },
            
            events: [
                // events go here
            ],
            groupByDateAndResource: true,
            resources: [
            ],
            slotClick: function () {
                alert('Vous avez selectionner une plage horaire');
            },
            header: {
                center: 'addEventButton'
            },

            customButtons: {
                addEventButton: {
                    text: 'Ajouter Disponibilité',
                    dayClick: function () {
                        var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                        var date = moment(dateStr);

                        if (date.isValid()) {
                            $('#calendar').fullCalendar('renderEvent', {
                                title: 'Disponible',
                                start: date,
                                allDay: true
                            });
                            alert('Great. Now, update your database...');
                        } else {
                            alert('Invalid date.');
                        }
                    }
                }
            }
        });
    });
</script>

